@model IEnumerable<Kitchen.Library.DataModels.KategoriaData>
@{
    int categoryId = 0;
}

@foreach (var item in Model)
{
    <h2 class="dropdown-item">@item?.NazwaKategorii</h2>
    foreach (var i in item?.SubDirectories)
    {
        <a href="@Url.Action("", "Przepisy", new { id = i.ID_Podkategorii })">@i.nazwa_podkategorii</a>
        <br>
    }
}