@model IEnumerable<Kitchen.Library.DataModels.CategoryData>

<div id="accordion">
    @foreach (var item in Model)
    {
        var id = item.CategoryName.Split(' ')[0] + new Random().Next().ToString();
    <div class="card">
        <button class="btn" data-toggle="collapse" data-target="#@id" aria-expanded="false" aria-controls="@id">
            <div class="" id="headingOne">
                <h5 class="mb-0">
                    @item?.CategoryName
                </h5>
            </div>
        </button>
        <div id="@id" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @foreach (var i in item?.SubDirectories)
                {
                    <a class="btn btn-block" href="@Url.Action("", "Recipes", new { id = i.Id })">@i.Name</a>
                    <br />
                }
            </div>
        </div>
    </div>
    }
</div>